html,
body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  font-family: hell;
  color:  $c_main;
}

body {
  background-image: image-url('blurry_tree.png');
  background-position: left  top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.header {
  @include transition();
  width: 100%;
  min-width: 320px;
  z-index: 9999;
  position: relative;
  height: $h_header_mobile;
  border-bottom: 1px solid $c_one;
  padding: $basic_space;
  margin-bottom: $basic_space;

  .title {
    width: calc(100% - #{$w_hamburger});
    float: left;
  }

  &.animated {
    .scroll_header {
      width: 100%;
    }
  }
}

.scroll_header {
  margin: 0 auto;
  max-width: $w_page_size;
}

.placeholder_menu {
  .header + section {
    margin-top: $h_header_mobile;
  }
}

.main_container {
  min-height: calc(100% - #{$h_footer});
  margin: 0 auto;
  position: relative;
}

.mc_scrolled {
  position: fixed;
  width: 100%;
  float: left;
  background:rgba($white, 0.8);
  top:0;
  padding-top: $basic_space;

  + section {
    margin-top: 126px;
  }
}

.wow {
  visibility: hidden;
}

footer {
  background: $c_six;
  color: $c_three;
  height: $h_footer;
  text-align: center;
  padding: 10px $basic_space 0;
  clear: both;
}

.block_container {
  width: 100%;
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  span {
    display: inline-block;
    width: 33%;
    padding-top: 33.33%;
    margin-bottom: 0.33%;

    &.c_one {
      background: $c_one;
    }
    &.c_two {
      background: $c_two;
    }
    &.c_three {
      background: $c_three;
    }
    &.c_four {
      background: $c_four;
    }
    &.c_five {
      background: $c_five;
    }
    &.c_six {
      background: $c_six;
    }
  }
}

.wrong_page,
section {
  display: block;
  max-width: $w_page_size;
  margin: 0 auto;
  padding: 0 $basic_space $basic_space $basic_space;
}

.wrong_page {
  text-align: center;
  float: none;
}

code {
  margin-bottom: $basic_space;
  float: left;
  width: 100%;
  background: transparent;
}