nav {
  width: auto;

  a {
    text-decoration: none;
    color: black;
  }
}

.nav_open {
  z-index: 888;
  color: #fff;
  position: relative;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay {
@include transition();
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 8888;
  right: 0;
  top: 0;
  background-color: rgba($c_six, 0.9);
  overflow-x: hidden;

  a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;

    &:hover,
    &:focus  {
      color: #f1f1f1;
    }
  }

  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
}

.overlay_item {
  position: relative;
  z-index: 9999;

  a {
    color: $white;
  }
}

@media screen and (max-height: 450px) {
  .overlay {
    a {
      font-size: 20px;
    }
    .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
}

.hamburger {
  float: right;
  width: $w_hamburger;
  height: $h_hamburger;
  cursor: pointer;
  position: relative;

  .nav_icon {
    background: #252f45;
    margin-top: 16px;
    height: 2px;
    width: 24px;
    position: absolute;
    transform: translateY(-50%);
    right: 0;

    &:after,
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: all .25s ease;
        -moz-transition: all .25s ease;
        -webkit-transition: all .25s ease;
        -o-transition: all .25s ease;
    }

      &:before {
          -moz-transform: translateY(-6px);
          -o-transform: translateY(-6px);
          -ms-transform: translateY(-6px);
          -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
      }

      &:after {
        -moz-transform: translateY(6px);
        -o-transform: translateY(6px);
        -ms-transform: translateY(6px);
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
      }
  }

  &:hover .nav_icon {
    &:before {
      -moz-transform: translateY(-8px);
      -o-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }

    &:after {
      -moz-transform: translateY(8px);
      -o-transform: translateY(8px);
      -ms-transform: translateY(8px);
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }

  &.close_nav {
    z-index: 9999;
    position: relative;

    .nav_icon {
      background: #fff;
      visibility: hidden;

      &:after,
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: all .25s ease;
        -moz-transition: all .25s ease;
        -webkit-transition: all .25s ease;
        -o-transition: all .25s ease;
      }

      &:before {
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        visibility: visible;
      }

      &:after {
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        visibility: visible;
      }
    }
  }
}

.overlay-content {
  nav {
    width:  100%;
    text-align: center;
    color: $white;
    padding: 0 $basic_space;
    max-width: $w_page_size;
    margin: 0 auto;

    a {
      color:  $white;
      border-bottom: 1px solid $white;
      font-size: 22px;
    }
  }
}