/***
      Project colors
***/

$white:     #ffffff;
$black:      #000000;

$c_one:    #dcdbc7;
$c_two:    #9dbdba;
$c_three: #dbc3d3;
$c_four:   #a181a6;
$c_five:    #5a3d69;
$c_six:      #1b3d3c;
$c_seven:      #d3d6db;

$c_main:           $c_six;
$c_accent:       $c_five;
$c_border:       $c_two;